page-home {
    ion-content{
        background-color: #f0f0f0 !important;
        color: black !important;        
    }

    .txt-verde{
        color:  #1b5e20;
    }

    .txt-vermelho{
        color: #b71c1c;
    }

    ion-col{
        font-size: 1em;
    }

}
